{{!-- {{> head}}

<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    {{> navigation}}

    <main>
        {{#if (prods.length > 0)}}
        <div class="grid">
            {{#each prods}}
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">{{title}}</h1>
                </header>
                <div class="card__image">
                    <img src="{{imageUrl}}" alt="{{title}}">
                </div>
                <div class="card__content">
                    <h2 class="product__price">${{price}}</h2>
                    <p class="product__description">{{description}}</p>
                </div>
                <div class="card__actions">
                    <a href="/products/{{_id}}" class="btn">Details</a>
                    {{#if isAuthenticated}}
                    {{> add-to-cart}}
                    {{/if}}
                </div>
            </article>
            {{/each}}
        </div>
        {{else}}
        <h1>No Products Found!</h1>
        {{/if}}
    </main>
    {{> end}} --}}